.puffles-playercard-generator {
  align-items: center;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

.puffles-playercard-generator.is-loading {
  background: #e8e5e5;
  justify-content: center;
  width: calc(100% - 24px);
}

.puffles-playercard-generator.is-loading * {
  visibility: hidden;
}

.puffles-playercard-generator-loading-placeholder {
  display: none;
}

.puffles-playercard-generator-loading-placeholder {
  -webkit-animation: pufflesLoadingAnimation infinite 8s;
  animation: pufflesLoadingAnimation infinite 8s;
  background: #b3acac;
  margin: auto;
  position: absolute;
  padding: 12px;
  height: 36px;
  width: 36px;
}

.puffles-playercard-generator.is-loading
  .puffles-playercard-generator-loading-placeholder {
  display: block;
  visibility: visible;
}

@keyframes pufflesLoadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.puffles-playercard-generator-wrapper {
  margin-right: 12px;
}

.puffles-playercard-item-search-result {
  font-size: 12px;
  margin: 8px 0;
}

.puffles-playercard-item-search-error {
  background: #d63638;
  color: white;
  padding: 4px;
  display: none;
}

.puffles-playercard-canvas {
  width: 320px;
}

.puffles-playercard-generator-download-button-wrapper {
  float: right;
  margin-top: 24px;
}

.puffles-playercard-action {
  cursor: pointer;
}

.puffles-playercard-action.clear-action {
	float: right;
}

.puffles-playercard-generator-items select {
  width: calc((100% - 24px) / 2);
}

.puffles-playercard-generator-items select option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .puffles-playercard-generator {
    flex-direction: column;
  }

  .puffles-playercard-generator-wrapper {
    margin: auto;
    margin-bottom: 12px;
    text-align: center;
  }

  .puffles-playercard-canvas {
    display: block;
    margin: auto;
    width: 320px;
  }

  .puffles-playercard-generator-download-button-wrapper {
    padding: 8px;
  }

  .puffles-playercard-generator-download-button {
    background: #1b5f9d;
    background: linear-gradient(
      163deg,
      rgba(66, 165, 236, 1) 0%,
      rgb(28, 95, 158) 77%
    );
    color: white;
    padding: 8px;
    border-radius: 8px;
  }
}
